<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>出题</title>
</head>
<body>
	<h1>出题页面</h1>
	<form action="{{ url_for('add') }}" method="post">
		<input type="text" name="alias">
		<input type="text" name="papername">
		<input type="text" name="type">
		<input type="text" name="content">
		<input type="text" name="optiona">
		<input type="text" name="optionb">
		<input type="text" name="optionc">
		<input type="text" name="optiond">
		<input type="text" name="answer">
		<button type="submit">
	</form>
</body>
</html>