<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<title>问～答</title>
</head>
<body>
	<div class="container">
		<h1 class="page-header">您的问答卷</h1>
		<br/>
		{% if data.__len__() != 0 %}
	  	<form role="form" action="{{ url_for('result') }}" method="post">
	  	  {% for paper in data %}
	  	  <h3>题目{{ paper.number }}</h3>
	  	  <br>
	  	  {% if paper.type==0 %}
		  <div class="form-group panel panel-default">
		  	<div class="panel-heading">
		    	<h4> {{ paper.content }}</h4>
		    </div>
		    <div class="panel-body">
			    <div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="A" checked>
				    {{ paper.optiona }}
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="B">
				    {{ paper.optionb }}
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="C">
				    {{ paper.optionc }}
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="D">
				    {{ paper.optiond }}
				  </label>
				</div>
			</div>
		  </div>
		  {% elif paper.type==1 %}
		  <div class="form-group panel panel-success">
		  	<div class="panel-heading">
		    	<h4> {{ paper.content }}</h4>
		    </div>
		    <div class="panel-body">
			    <div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="A" checked>
				    我赞成这种说法
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="{{paper.number}}" value="B">
				    不赞同这种说法
				  </label>
				</div>
			</div>
		  </div>
		  {% else %}
		  <div class="form-group panel panel-info">
		  	<div class="panel-heading">
		    	<h4> {{ paper.content }}</h4>
		    </div>
		    <div class="panel-body">
			    <textarea class="form-control" name="{{ paper.number }}" rows="3"></textarea>
			</div>
		  </div>
		  {% endif %}
		  {% endfor %}
		  <hr/>
		  <div class="row">
		  <div class="form-group col-sm-4">
		    <label for="inputName">怎么称呼您？</label>
		    <input type="email" class="form-control" name="name" id="inputName" placeholder="请输入您的微博账号或者真实姓名">
		    <br/>
		 	<button type="submit" class="btn btn-success">提交</button>
		  </div>
		  </div>
		</form>
		{% else %}
		  <div class="alert alert-danger" role="alert">抱歉，您的问答卷找不到了</div>
		{% endif %}
		<hr/>
		<div class="row text-center">
		&copy; Carpela  新浪第三方应用 <kbd>问～答</kbd> 专用设计
		</div>
		<br/>
	</div>
</body>
</html>